*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Great Vibes', cursive;
}

.drinks_container .drink {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drinks_container .drink .drink_photo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.drinks_container .drink .drink_photo::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.drinks_container .drink .drink_description {
  z-index: 1;
  padding: 2rem 2rem;
  color: #fefefe;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.drinks_container .drink .drink_description h2 {
  font-size: 35px;
}

.drinks_container .drink .drink_description .flex_description {
  text-align: center;
  gap: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 25px;
}

.drinks_container .drink .drink_description .flex_description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drinks_container .drink .drink_description .comment {
  width: 8rem;
  height: 5rem;
  background-repeat: no-repeat;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.drinks_container .drink_one .drink_photo {
  background-image: url(../img/jaggerbomb.jpg);
}

.drinks_container .drink_one .drink_photo::before {
  background: #130000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 0, 0, 0.8)), color-stop(55%, rgba(238, 179, 39, 0.3)), to(rgba(206, 242, 90, 0.3)));
  background: linear-gradient(180deg, rgba(19, 0, 0, 0.8), rgba(238, 179, 39, 0.3) 55%, rgba(206, 242, 90, 0.3));
}

.drinks_container .drink_one .drink_description .comment {
  background-image: url("../img/brumir.png");
}

.drinks_container .drink_two .drink_photo {
  background-image: url(../img/sex.jpg);
}

.drinks_container .drink_two .drink_photo::before {
  background: #130000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 0, 0, 0.8)), color-stop(55%, rgba(255, 158, 0, 0.3)), to(rgba(222, 52, 26, 0.3)));
  background: linear-gradient(180deg, rgba(19, 0, 0, 0.8) 0%, rgba(255, 158, 0, 0.3) 55%, rgba(222, 52, 26, 0.3) 100%);
}

.drinks_container .drink_two .drink_description .comment {
  height: 8rem;
  background-image: url("../img/gg.png");
}

.drinks_container .drink_three .drink_photo {
  background-image: url(../img/lagoon.jpg);
}

.drinks_container .drink_three .drink_photo::before {
  background: #130000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 0, 0, 0.8)), color-stop(55%, rgba(10, 254, 251, 0.3)), to(rgba(242, 36, 36, 0.3)));
  background: linear-gradient(180deg, rgba(19, 0, 0, 0.8) 0%, rgba(10, 254, 251, 0.3) 55%, rgba(242, 36, 36, 0.3) 100%);
}

.drinks_container .drink_three .drink_description .comment {
  height: 3rem;
  width: 12rem;
  background-image: url("../img/seweryn.png");
}

.drinks_container .drink_four .drink_photo {
  background-image: url(../img/paradise.jpeg);
}

.drinks_container .drink_four .drink_photo::before {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(55%, rgba(10, 179, 254, 0.3)), to(rgba(242, 164, 36, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(10, 179, 254, 0.3) 55%, rgba(242, 164, 36, 0.3) 100%);
}

.drinks_container .drink_four .drink_description .comment {
  height: 4rem;
  width: 6rem;
  background-image: url("../img/weronika.png");
}

.drinks_container .drink_five .drink_photo {
  background-image: url(../img/sunrise.jpg);
}

.drinks_container .drink_five .drink_photo::before {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(55%, rgba(249, 255, 0, 0.3)), to(rgba(217, 67, 37, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(249, 255, 0, 0.3) 55%, rgba(217, 67, 37, 0.3) 100%);
}

.drinks_container .drink_five .drink_description .comment {
  height: 5rem;
  width: 10rem;
  background-image: url("../img/misia.png");
}

.drinks_container .drink_six .drink_photo {
  background-image: url(../img/smerfetka.jpeg);
}

.drinks_container .drink_six .drink_photo::before {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(55%, rgba(0, 202, 255, 0.3)), to(rgba(194, 37, 217, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 202, 255, 0.3) 55%, rgba(194, 37, 217, 0.3) 100%);
}

.drinks_container .drink_six .drink_description .comment {
  height: 4rem;
  width: 13rem;
  background-image: url("../img/arek.png");
}

.drinks_container .drink_seven .drink_photo {
  background-image: url(../img/collins.jpg);
}

.drinks_container .drink_seven .drink_photo::before {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(55%, rgba(224, 224, 224, 0.3)), to(rgba(226, 246, 18, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(224, 224, 224, 0.3) 55%, rgba(226, 246, 18, 0.3) 100%);
}

.drinks_container .drink_seven .drink_description .comment {
  height: 4rem;
  width: 7rem;
  background-image: url("../img/arek2.png");
}

.drinks_container .drink_eight .drink_photo {
  background-image: url(../img/mohito.jpg);
}

.drinks_container .drink_eight .drink_photo::before {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(55%, rgba(99, 255, 6, 0.3)), to(rgba(30, 204, 41, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(99, 255, 6, 0.3) 55%, rgba(30, 204, 41, 0.3) 100%);
}

.drinks_container .drink_eight .drink_description .comment {
  height: 4rem;
  width: 11rem;
  background-image: url("../img/wiki.png");
}

.drinks_container .drink_nine .drink_photo {
  background-image: url(../img/apple.jpg);
}

.drinks_container .drink_nine .drink_photo::before {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(55%, rgba(227, 119, 37, 0.3)), to(rgba(30, 204, 41, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(227, 119, 37, 0.3) 55%, rgba(30, 204, 41, 0.3) 100%);
}

.drinks_container .drink_nine .drink_description .comment {
  height: 4rem;
  width: 19rem;
  background-image: url("../img/arek3.png");
}

.drinks_container .drink_ten .drink_photo {
  background-image: url(../img/jager.jpg);
}

.drinks_container .drink_ten .drink_photo::before {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(55%, rgba(25, 139, 6, 0.3)), to(rgba(173, 4, 4, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(25, 139, 6, 0.3) 55%, rgba(173, 4, 4, 0.3) 100%);
}

.drinks_container .drink_ten .drink_description .comment {
  height: 4rem;
  width: 9rem;
  background-image: url("../img/kuba.png");
}

.drinks_container .drink_eleven .drink_photo {
  background-image: url(../img/shoty.jpg);
}

.drinks_container .drink_eleven .drink_photo::before {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(25%, rgba(31, 237, 55, 0.3)), color-stop(50%, rgba(237, 246, 23, 0.3)), color-stop(75%, rgba(221, 7, 7, 0.3)), to(rgba(209, 11, 165, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(31, 237, 55, 0.3) 25%, rgba(237, 246, 23, 0.3) 50%, rgba(221, 7, 7, 0.3) 75%, rgba(209, 11, 165, 0.3) 100%);
}

.drinks_container .drink_eleven .drink_description .flex_description ul li {
  text-align: start;
  margin-bottom: 1rem;
}

.drinks_container .drink_eleven .drink_description .comment_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.drinks_container .drink_eleven .drink_description .comment_container .comment {
  height: 10rem;
  width: 8rem;
  background-size: contain;
  border-radius: 50%;
  background-image: url("../img/kot2.jpg");
}

.drinks_container .drink_eleven .drink_description .comment_container .comment2 {
  height: 10rem;
  width: 8rem;
  background-size: contain;
  border-radius: 50%;
  background-image: url("../img/kot.jpg");
}
/*# sourceMappingURL=main.css.map */