@media (min-width:992px){
    .prices{
        .services{

            &__menu{
                flex-direction: row;
            }
        }
    }

    .contact{
        &__location{
            flex-direction: row;
        }
    }
}
@media (max-width:992px){
    .prices{
        .services{

            &__menu{
                flex-direction: column;
            }
        }
    }

    .contact{
        &__location{
            flex-direction: column;
        }
    }
}





